<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <title>Cadastro</title>
  </head>
  <body>
    {% include '_navbar.html' %}
    <div class="container mt-5">
      <h2>Cadastro de Usuário</h2>
      <form action="{{ url_for('cadastro') }}" method="POST">
        <div class="form-group">
          <label for="username">Nome de Usuário</label>
          <input type="text" class="form-control" id="username" name="username" required />
        </div>
        <div class="form-group">
          <label for="password">Senha</label>
          <input type="password" class="form-control" id="password" name="password" required />
        </div>
        <div class="form-group">
          <label for="first_name">Nome</label>
          <input type="text" class="form-control" id="first_name" name="first_name" required />
        </div>
        <div class="form-group">
          <label for="last_name">Sobrenome</label>
          <input type="text" class="form-control" id="last_name" name="last_name" required />
        </div>
        <div class="form-group">
          <label for="role">Função</label>
          <input type="text" class="form-control" id="role" name="role" required />
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="is_admin" name="is_admin" />
          <label class="form-check-label" for="is_admin">Administrador</label>
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
      </form>
    </div>
  </body>
</html>